@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&family=Roboto:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", "Oxygen", "Segoe UI", sans-serif;
}

body {
    background-color: #0D1117;
    height: 100vh;
}

/* navbar-section */

header {
    top: 0;
    left: 0;
    width: 100%;
    height: 9vh;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: #0D1117;
}

nav {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 15px;
}

nav img {
    height: 24px;
    display: inline;
    margin: 0 8px -3px 0;
}

nav .vscode a {
    color: #c3d0e5;
    font-size: 1.25rem;
    font-weight: 500;
}

nav a {
    text-decoration: none;
    color: #9ba3b4;
    font-weight: 500;
    letter-spacing: 0.2px;
    font-size: 1rem;
}

nav a:hover {
    cursor: pointer;
    color: #c3d0e5;
}

nav .toggle-switch {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    margin: 0 -15px;
    line-height: 0;
}

nav .toggle-switch:hover {
    background-color: #3a3a3a;
    cursor: pointer;
}

nav .toggle-switch img {
    height: 18px;
    width: 18px;
    display: block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav input {
    font-size: 0.9rem;
    background-color: #0b0b0b;
    border: 1px solid rgba(255, 255, 255, 0.15);
    color: #9ba3b4;
    padding: 8px 12px;
    border-radius: 4px;
    outline: none;
    margin-right: -20px;
    box-sizing: border-box;
}

nav input:focus {
    border: 1px solid #0078d4;
}

nav button {
    font-size: 1rem;
    border: none;
    background-color: #0078d4;
    color: #fff;
    font-weight: 500;
    border-radius: 4px;
    padding: 6px 18px;
}

nav button:hover {
    background-color: #00589b;
    cursor: pointer;
}

/* hero-section */
.hero-section {
    margin: 4rem 0;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.hero-section h1 span {
    text-align: center;
    display: block;
    color: #c3d0e5;
    font-size: 4.5rem;
}

.hero-section .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    /* optional: replaces margin between buttons */
    margin-top: 1.2rem;
}

.hero-section .buttons .download,
.hero-section .buttons .try-agent-mode {
    padding: 0.8rem 1.5rem;
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hero-section .buttons .download {
    background-color: #0078d4;
    color: #fff;
    border: none;
}

.hero-section .buttons .download:hover {
    background-color: #00589b;
}

.hero-section .buttons .try-agent-mode {
    background-color: #25292e;
    color: #c3d0e5;
    border: 0.5px solid #9ba3b4;
}

.hero-section .buttons .try-agent-mode:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.hero-section .small-links a,
.hero-section .small-links span {
    font-size: 0.75rem;
    font-weight: 500;
    margin-top: 0.3rem;
    display: inline-block;
}

.hero-section .small-links a {
    color: #4daafc;
    padding: 2px;
}

.hero-section .small-links span {
    color: #9ba3b4;
}

.hero-section .hover-hidden {
    opacity: 0;
    visibility: hidden;
    text-align: center;
    padding: 1rem;
    font-size: 0.75rem;
    color: #9ba3b4;
    transition: opacity 0.4s ease, visibility 0.4s ease;
}

.hero-section .hover-container:hover .hover-hidden {
    opacity: 1;
    visibility: visible;
}

.hover-hidden a {
    color: #c3d0e5;
}

.hover-hidden span {
    text-decoration: underline;
    cursor: pointer;
}

.hero-background {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-background img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.hero-background a {
    color: #9ba3b4;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 2rem;
    padding: 0.5rem 1.5rem;
    
}

.hero-background a:hover {
    cursor: pointer;
    border: 2px solid #9ba3b4;
    border-radius: 5px;
}