@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&family=Roboto:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", "Oxygen", "Segoe UI", sans-serif;
}

body {
    background-color: #0D1117;
    height: 100vh;
}

/* navbar-section */

header {
    top: 0;
    left: 0;
    width: 100%;
    height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.122); */
}

nav {
    position: fixed;
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 15px;
}

nav img {
    height: 24px;
    display: inline;
    margin: 0 8px -3px 0;
}

nav .vscode a {
    color: #c3d0e5;
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: 0.5px;
}

nav a {
    text-decoration: none;
    color: #9ba3b4;
    font-weight: 500;
    letter-spacing: 0.2px;
    font-size: 1rem;
}

nav a:hover {
    cursor: pointer;
    color: #c3d0e5;
}

nav .toggle-switch {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    margin: 0 -15px;
    line-height: 0;
}

nav .toggle-switch:hover {
    background-color: #3a3a3a;
    cursor: pointer;
}

nav .toggle-switch img {
    height: 18px;
    width: 18px;
    display: block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav input {
    font-size: 0.9rem;
    background-color: #0b0b0b;
    border: 1px solid rgba(255, 255, 255, 0.15);
    color: #9ba3b4;
    padding: 8px 12px;
    border-radius: 4px;
    outline: none;
    margin-right: -20px;
    box-sizing: border-box;
}

nav input:focus {
    border: 1px solid #0078d4;
}

nav button {
    font-size: 1rem;
    border: none;
    background-color: #0078d4;
    color: #fff;
    font-weight: 500;
    border-radius: 4px;
    padding: 6px 18px;
}

nav button:hover {
    background-color: #00589b;
    cursor: pointer;
}

/* hero-section */
.hero-section {
    padding: 4rem;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-section h1 span {
    text-align: center;
    display: block;
    color: #c3d0e5;
    font-size: 4.5rem;
}

.hero-section .buttons .download {
    background-color: #0078d4;
    border-radius: 5px;
    border: none;
    padding: 0.8rem 1.5rem;
    font-size: 1.1rem;
    margin: 1.2rem 0.2rem 0.5rem 0.2rem;
    color: #fff;
    font-weight: 500;
}

.hero-section .buttons .download:hover {
    background-color: #00589b;
    cursor: pointer;
}

.hero-section .buttons .try-agent-mode {
    padding: 0.8rem 1.5rem;
    font-size: 1.1rem;
    border: 0.5px solid #9ba3b4;
    background-color: #25292E;
    color: #c3d0e5;
    font-weight: 500;
    border-radius: 5px;
    margin: 1.2rem 0.2rem 0.5rem 0.2rem;
}

.hero-section .buttons .try-agent-mode:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
}